*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

#navbar-area{
    box-shadow: 1.6px 1px #cad7fa;
}

.navbar-brand{
    padding-left: 0.3rem;
    font-weight: bold;
    color: #757F9A!important;
}



#logoImg:hover{
    transform: scale(1.1);

}

.nav-link{
    color: #757F9A!important;
    font-weight: bold;
    padding-left: 3rem!important;
}

.nav-link:hover{
    color: #1565C0!important;
}

#loginText{
    padding-right: 5rem!important;
}
#btnFree{
    margin-right: 10rem;
    font-size: 15px;
    background-color: white;
    color: #1565C0;
    outline: #667db6;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #667db6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}

#btnFree:hover{
    background-color: #1565C0;
    color: white;
}

/* banner section */
#banner{
    padding-top: 6.5rem;
}

#dashboardImg{
    margin-left: -4rem;
}

.banner-title{
    font-weight: bold;
    color: #667db6;
    padding-top: 3rem;
    font-size: 50px;
    
}

.banner-text{
    color: #667db6;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

#tryBtn{
    font-size: 14px;
    background-color: #667db6;
    color: white;
    outline: #667db6;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #667db6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}

#tryBtn:hover{
    color: #667db6;
    background-color: white;
}

.credit-text{
    color: #757F9A;
    margin-top: -2.1rem;
    margin-left: 8rem;
}

/* companies section */

.companies{
    padding-top: 13.5rem;
    padding-bottom: 10rem;
}

.companies-title{
    padding-bottom: 3rem;
    font-size: 45px;
    font-weight: bold;
    color: #667db6;
}

.button-group button{
    background: transparent;
    border: none;
    /* margin-left: 30rem; */
    
    
}





.button-group button + button{
    margin-left: 3rem;
    
}

.text-company{
    font-weight: bold;
    font-size: 20px;
}

.grid{
    padding-top: 5rem;
    
}

/* usage section */

#usage{
    /* background-color: #efeff0; */
    padding-top: 8rem;
    background-color: #667db611;
    padding-bottom: 30rem;
}


.usage-title{
    font-size: 45px;
    font-weight: bold;
    color: #667db6;
    padding-bottom: 2rem;
    text-align: center;
}

.usage-text{
    text-align: center;
    font-size: 20px;
    color: #667db6;
    padding-bottom: 7rem;
}

/* section for the squares */

.trial{
    margin-top: 20rem;
    background-color: white;
    border: 2px solid white;
    height: 200px;
    width: 200px;
    margin-left: 10rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}

.trial2{
    margin-top: -23rem;
    background-color: white;
    border: 2px solid white;
    height: 200px;
    width: 200px;
    margin-left: 29rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.trial3{
    margin-top: 8rem;
    background-color: white;
    border: 2px solid white;
    height: 200px;
    width: 200px;
    margin-left: 29rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.trial4{
    margin-top: -40rem;
    background-color: white;
    border: 2px solid white;
    height: 200px;
    width: 200px;
    margin-left: 48rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.trial5{
    margin-top: 6rem;
    background-color: white;
    border: 2px solid white;
    height: 200px;
    width: 200px;
    margin-left: 48rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.trial6{
    margin-top: -22rem;
    background-color: white;
    border: 2px solid white;
    height: 200px;
    width: 200px;
    margin-left: 65rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.trial:hover{
    transform: scale(1.1);
}

.trial2:hover{
    transform: scale(1.1);
}

.trial3:hover{
    transform: scale(1.1);
}

.trial4:hover{
    transform: scale(1.1);
}

.trial5:hover{
    transform: scale(1.1);
}

.trial6:hover{
    transform: scale(1.1);
}


#buzz{
    margin-left: 2rem;
    margin-top: -3rem;
}

#nike{
    margin-left: -1rem;
    margin-top: -3rem;
}

#coffee{
    margin-left: 0rem;
    margin-top: -3rem;
}

#bag{
    margin-left: 2.5rem;
    margin-top: -7rem;
}

#stationery{
    margin-left: .5rem;
    margin-top: -2rem;

}


.toy-store{
    padding-top: 2.3rem;
    color: #667db6;
    padding-left: 3.5rem;
}

.boutique-store{
    padding-top: 2.3rem;
    padding-left: 2.4rem;
    color: #667db6;
}

.shoe-store{
    padding-top: 2.3rem;
    padding-left: 3.2rem;
    color: #667db6;
}

.coffee-shop{
    padding-top: 3.3rem;
    color: #667db6;
    padding-left: 3.2rem;
}

.accessory-shop{
    color: #667db6;
    padding-left: 2.2rem;
}

.stationery-store{
    color: #667db6;
    padding-left: 1.9rem;
    padding-top: 3rem;
}

/* marketplace section */

#marketplace{
    padding-top: 13rem;
    padding-bottom: 20rem;
    background-color:#fffafa;
}

.marketplace-title{
    color: #4d66a3;
    font-weight: bold;
    font-size: 45px;
    padding-bottom: 2rem;
}

.marketplace-text{
    font-size: 17px;
    text-align: justify;
    color: #667db6;
    line-height: 1.8rem;
    padding-bottom: 2rem;
    max-width: 30%;
}

.marketplace-button{
    background: transparent;
    color: #4d66a3;
    border: 1px solid #4d66a3;
    font-size: 15px;
    padding: .7rem;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;

}

.marketplace-button:hover{
    background-color: #4d66a3;
    color: white;
}

.marketcard1{
    background-color: white;
    border: 2px solid white;
    height: 320px;
    width: 250px;
    margin-left: 50%; 
    margin-top: -15%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* This media query is for when the screen is between 480 and 1224 px */
@media screen and (min-width: 480px) and (max-width: 1224px){
    

    #dashboardImg{
        display: none;
    }

    .nav-link{
        padding-left: 0rem!important;
        padding-top: 0.5rem!important;
        text-align: center;
        font-size: 14px;
    }

    div .dropdown-item{
        text-align: center;
        font-size: 12px;
    }

    #loginText{
        margin-left: 4.8rem;
    }

    #btnFree{
        margin-left: 18rem;
        width: 15%;
        font-size: 13px;
        
    }
    #banner{
        padding-top: 3rem;
    }

    .banner-title{
        margin-left: -10rem;
    }

    .banner-text{
        padding-top: 2rem;
        margin-left: -12rem;
    }

    #tryBtn{
        margin-left: -3.8rem;
    }
    .credit-text{
        margin-left: -6rem;
        padding-top: 3rem;
    }

    
}

/* Mobile responsiveness */
/* @media only screen and (max-width: 480px){ */
    @media screen and (min-width: 320px) and (max-width: 480px){
    
    .navbar-brand{
        padding-left: 0rem;
        font-size: 20px!important;
    }

    .nav-link{
        padding-left: 0rem!important;
        padding-top: 0.5rem!important;
        text-align: center;
        font-size: 14px;
    }
    div .dropdown-item{
        text-align: center;
        font-size: 12px;
    }

    #loginText{
        margin-left: 4.8rem;
    }

    #btnFree{
        margin-left: 8.4rem;
        width: 28%;
        font-size: 13px;
        
    }
    #banner{
        padding-top: 3rem;
    }

    #dashboardImg{
        display: none;
    }

    .banner-title{
        margin-left: -13rem;
        font-size: 30px;
        text-align: center;
    }

    .banner-text{
        margin-left: -12rem;
        padding: 2rem 1rem 1rem 1rem;
        font-size: 15px;
    }
    #tryBtn{
        font-size: 14px;
        margin-left: -4.6rem;

    }
    .credit-text{
        margin-left: -5.5rem;
        padding-top: 3rem;
        font-size: 12px;
    }

    .companies{
        padding-top: 5rem;
    }

    .companies-title{
        font-size: 30px;
        text-align: center;
    }

    .button-group{
        margin-left: 5.5rem;
    }

    .our-retail{
        margin-left: 9.3rem;
    }

    .text-company{
        padding-top: 0.5rem;
    }

    

    #alto{
        padding-left: 0.8rem;
    }

    #altoSpan{
        margin-left: -1.8rem;
    }

    #palo{
        padding-left: 0.8rem;
    }

    #creed{
        padding-left: 0.3rem;
    }

    #decadence{
        margin-left: -1rem;
    }

    #decadenceSpan{
        margin-left: -2.7rem;
    }

    #soko{
        margin-left: -1rem;
    }

    #sokoSpan{
        margin-left: -2.8rem;
    }

    #tri{
        margin-left: -0.5rem;
    }

    #triSpan{
        margin-left: -2.5rem;
    }
    #triImg{
        margin-left: .3rem;
    }

    .element-item{
        background-color: #ffffff;
        padding-bottom: 2rem;
    }

    #usage{
        padding-top: 7rem;
        padding-bottom: 10rem;
    }

    .usage-title{
        font-size: 35px;
    }

    .usage-text{
        font-size: 17px;
        text-align: justify;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .trial{
        margin-top: 2rem;
        margin-left: 25%;
    }

    .trial2{
        margin-top: 7rem;
        margin-left: 25%;
    }

    .trial3{
        margin-top: 7rem;
        margin-left: 25%;
    }

    .trial4{
        margin-top: 7rem;
        margin-left: 25%;
    }

    .trial5{
        margin-top: 7rem;
        margin-left: 25%;
    }

    .trial6{
        margin-top: 7rem;
        margin-left: 25%;
    }

    

    

    

    
    
}

